body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-background{
  background-color: rgb(22, 12, 13);
}

.nav-link-color{
  color: white;
}

.row-container{
  padding-top: 41px;
}

.card .edit {
  display: none;
  position: absolute;
}

.card:hover ul {
  display: block
}

.error {
  margin-top: 0.25rem;
  color: #f65157;
}

.form_error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 0.5rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin: 1rem 0;
}

.form_success {
  color: #27531f;
  background-color: #78f5ac;
  border-color: #30df47;
  padding: 0.5rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin: 1rem 0;
}

.show_file_img{
  display: flex;
  justify-content: center;
}

.buttonChooseFile{
  background-color: rgb(75, 76, 77);
  color: white;
  padding: 0.3rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

.fileName{
  margin-left: 0.3rem;
  font-family: sans-serif;
}